.img {
    background: url(../photos/19.svg);
    /* background: url(../photos/bg3.jpg); */

    position: relative;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 25px;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

/* 285 190 */

.Image {
    width: 285px;
    height: 190px;
}

.btn {
    background-color: #578ab6 !important;
    color: white !important;
    border: 1px solid white !important;
}

.img1 {
    background: url(../photos/bg2.jpg);
    position: relative;
    top: 0;
    left: 0;
    padding-top: 5px;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.main1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}

.main {
    display: flex;
    justify-content: center;
}

.card1 {
    width: 20rem;
    margin-right: 5px;
    margin-bottom: 15px;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.2);
}

.h2 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}
